html {
      min-height: 100%;
      overflow: hidden;
}

body {
      heights: calc(100vh - 8em);
      paddings: 1em;
      color: rgba(255, 255, 255, 0.75);
      font-family: 'Anonymous Pro', monospace;
      background-color: rgb(25, 25, 25);
      font-size: 80%;
      overflow: hidden;
}
.ha {
text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.75);
}
.btn
{
	font-size: 70%;
	font-family: 'Anonymous Pro', monospace;
	text-transform: uppercase;
	color: #000;
	text-shadow: 0 0 3px #859c3c;
	background-color: #a7c44c;
	border: 0;
	cursor: none;
	padding: 14px 20px;
	margin: 0;
	border-radius: 12px 0 12px 0;
	margin-top: 20px;
	transition: all 0.5s;
	box-shadow: 10px 10px 20px;
}
