<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.pointdeveloper.myapp"
        versionCode = "1" 
        version     = "1.0.0" >
 
    <!-- versionCode is Android only -->
    <!-- version is in major.minor.patch format --> 
    <name>PhoneGap Example App</name>
 
    <description>
        An example for phonegap build app which wont show up in the playstore. 
    </description>
 
    <author href="https://YourWebsite.com" email="yourEmail@goesHere.com">
<!--         Name Of The Author -->
        Sufiyan Shaikh
    </author>
 
   <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <preference name="KeepRunning" value="false"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="android-build-tool" value="gradle" />
  <preference name="android-minSdkVersion" value="27" />
  <preference name="android-targetSdkVersion" value="27" />
  <preference name="phonegap-version" value="cli-8.0.0" />
 
  <plugin name="cordova-plugin-whitelist" source="npm" />
  <plugin name="cordova-plugin-x-socialsharing" source="npm" />
  <plugin name="cordova-plugin-inappbrowser" source="npm"/>
<!--   <plugin spec="https://github.com/floatinghotpot/cordova-admob-pro" source="git" /> -->
  <plugin name="cordova-plugin-network-information" source="npm" />
  <plugin name="cordova-universal-clipboard" source="npm"/>
  <plugin name="phonegap-plugin-barcodescanner" source="npm"/>
  <plugin name="cordova-plugin-x-toast" />
 
</widget>
